# Generic
/.nuget/
/.vs/
/artifacts/
/build/
/dist/
/nupkg/
/tmp/

bin/
obj/
*.csproj.user

!/bin/

# Specific
tools/Resend.Cli/env.cmd
tools/Resend.Cli/exec.cmd
tools/Resend.Cli/*.json
tools/Resend.Cli/Properties/launchSettings.json

tests/Resend.Tests/TestReport/
tests/Resend.Tests/TestResults/

# eof
